<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">    <!--<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">   
  </head>
  <body>
    <div class="container">
      <header>
        <h1>TMP & HUMIDITY PANEL</h1>
      </header>

      <div id="main">
        <section id="main-bar">
          <div id="time">
            <span class="material-icons"></span>
           
            <h2 id="heure"> </h2>
          </div>
          <div id="data">
            <div>
              <h2>Temperature :</h2>
              <h3 id="tmp">25°C</h3>
            </div>
            <div>
              <h2>Humidité :</h2>
              <h3 id="humidity"></h3>
            </div>
          </div>

          <div id="info_moyenne">
            <h2>Température Moyenne</h2>
            <h2>Humidité Moyenne</h2>
            <h3 id="temp_moyenne"></h3>
            <h3 id="hum_moyenne"></h3>
          </div>
        </section>
        <section id="side-bar">
          <table>
            <thead><span class="material-icons" style="color: #d82e2e; font-size: 50px;">airplay</span></thead>
            <tr>
              <td><h3>Heures</h3></td>
              <td></td>
              <td></td>
              <td><h4>temperatures</h4></td>
              <td><h4>humidité</h4></td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
          </table>
          <div id="side-bar-head" style="margin-left: 30%;">
            <span class="material-icons" style="color: #d82e2e; font-size: 50px;">airplay</span>
            <h2>DETAIL</h2>
          </div>
          <div id="infos">
            <h3>Heures</h3>
            <h4>temperatures</h4>
            <h4>humidité</h4>
          </div>
          <div id="info8h">
            <h3>- 8h :</h3>
            <h4 id="tmp8h"></h4>
            <h4 id="humidity8h"></h4>
          </div>
          <div id="info12h">
            <h3>- 12h :</h3>
            <h4 id="tmp12h"></h4>
            <h4 id="humidity12h"></h4>
          </div>
          <div id="info19h">
            <h3>- 19h :</h3>
            <h4 id="tmp19h"></h4>
            <h4 id="humidity19h"></h4>
          </div>

        </section>

      </div>

      <footer id="footer">
        <a href="#about">
          <span class="material-icons">keyboard_arrow_up</span>
        </a>
          <h5>Copyright 2021 ADEFNIPA</h5>
      </footer>
    </div>
    <script src="/javascripts/socket.js"></script>
    <script>
       function heureMaj(){
        let date1 = new Date();
              let dateLocale = date1.toLocaleString('fr-FR',{
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric'});
              document.getElementById('heure').innerHTML=dateLocale
              setTimeout('heureMaj();','1000');
      }
            
            heureMaj()
    </script>

  </body>
</html>
